// $primary: #428bca;
// $grid-columns:      12;
// $grid-gutter-width: 30px;
$grid-breakpoints: (
  xs: 0,     // Extra small screen / phone
  sm: 576px, // Small screen / phone
  md: 768px, // Medium screen / tablet
  lg: 992px, // Large screen / desktop
  xl: 1200px // Extra large screen / wide desktop
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import 'base';
@import 'center_middle_layout';
@import 'grid_system_layout';
